img{
    border-radius:  250px;
    max-width: 250px;
    border: 1px solid black;
    display: inline-block;
    vertical-align: middle;
    width: 150px;
    height: 150px;
}
h1{
    display: inline-block;
    vertical-align: middle;
    padding: 5px;
    text-align: center;
    font-size: 60px;
    font-style: oblique;
}
body{
    background-color: #dcd3fd;
    font-size: 20px;
}
.lis{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    padding: 10px
    margin-right: 30px;
}
button {
    position: absolute;
    bottom: 10px; /* Distância do fundo da tela (ajuste conforme necessário) */
    right: 10px; /* Distância da borda direita da tela (ajuste conforme necessário) */
    padding: 10px 20px; /* Tamanho do botão */
    background-color: #7fbcfc; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none; /* Removendo a borda do botão */
    border-radius: 5px; /* Borda arredondada */
    cursor: pointer; /* Cursor de apontador ao passar o mouse */
    transition: background-color 0.3s; /* Transição suave da cor de fundo */
    text-decoration: none; /* Removendo sublinhado do link */
    position: fixed;
  }
  
  button:hover {
    background-color: #023872; 
  }
  .box{
    text-align: center;
  }
  



